<div id="user-table" class="uk-margin" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="uk-text-center">
        <table class="uk-table uk-table-responsive uk-table-divider" th:if="${!userList.isEmpty()}">
            <thead>
            <tr>
                <th>User ID (UUID)</th>
                <th>User FirstName</th>
                <th>User SecondName</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user :${userList}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getSecondName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>