<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div id="navbar" class="uk-padding-small" th:replace="fragments/navbar::navbar"></div>
<div class="uk-container">
    <div class="uk-text-center">
        <h1 class="uk-padding-large" th:text="${helloworld}"></h1>
        <div th:if="${session.inSession != null}" class="uk-margin">

            <p th:if="${session.inSession != null}"> Your session attribute: </p>
            <p th:text="${session.inSession}"></p>
        </div>
    </div>
</div>
</body>
</html>